* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3a486b, #65c9cb);
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 41.5vh;
  height: auto;
  background-color: #333;
}

#all-display {
  background-color: white;
  margin: 5px;
  height: auto;
  min-height: 2.2em;
  font-size: 1.9em;
  padding: 5px 5px 0px 5px;
  text-align: right;
}

#history {
  font-size: 1.5rem;
  color: #f69e09;
  min-height: 1.2em;
}

#buttons {
  margin: 4.5px;
  display: grid;
  grid-template-columns: repeat(4, 10vh);
  grid-template-rows: repeat(5, 10vh);
}

#buttons > button {
  cursor: pointer;
  border: 2px solid #333;
  outline: none;
  font-size: 1.8rem;
}

#buttons > button:hover {
  opacity: 0.8;
}

.span-two {
  grid-column: span 2;
}

.span-two-row {
  grid-row: span 2;
}

#clear {
  background-color: #f2560a;
}

#equals {
  background-color: #83b282;
}